{{#if name}}
<title>{{name}}</title>
{{else}}
<title>Plantation</title>
{{/if}}

<link rel="stylesheet" href="../public/css/plantation.css">
{{>nav}}
<div class="container">
  <div id="logo">
    {{#if plantation.logo}}
    <img src="{{plantation.logo.url}}" alt="{{plantation.name}}">
    {{else}}
    <img src="/public/img/paisagem.jpg" alt="placeholder">
    {{/if}}
  </div>
  <h1>{{plantation.name}}</h1>
  <div class="main-graph">
    <div class="card">
      <div class="box">
        <div class="percent">
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <h2 id="percent">0<span>%</span></h2>
          </div>
        </div>
      </div>
      <div class="content">
        <span id="remaining-humidity">100% restantes para meta</span>
        <span id="remaining-time">tempo estimado 1000 minutos</span>
        <span id="elapsed-water">quantidade de água utilizada na ultima irrigação (10L)</span>
      </div>
    </div>
    <div class="legend">
      <span>
        <div class="green"></div>Humidade atual do solo
      </span>
      <span>
        <div class="blue"></div>Humidade objetiva do solo
      </span>
    </div>
  </div>

</div>
<div class="full-graph">
  <table>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
  </table>
</div>
<script>
  var pl_id = "{{plantation.id}}";
</script>
<script src="/public/js/plantation.js" type="module"></script>
