{{>nav}}
<title>Smart Plantation</title>
<link rel="stylesheet" href="/public/css/plantations.css">
<div class="container">
  <ul id="plantationList" class="plantations-list">
    {{#if plantations}}
    <a id="add" href="create-plantation">+</a>
    {{/if}}
    {{#each plantations}}
    <li>
      <a href="plantations/{{name}}">
        {{#if logo.url}}
        <img src="{{logo.url}}" alt="{{name}}">
        {{else}}
        <img class="placeholded" src="/public/img/paisagem.jpg" alt="placeholder">
        {{/if}}
        <div class="label-name">
          <div class="name">{{name}}</div>
          <span>ENTER</span>
        </div>
      </a>
    </li>
    {{/each}}
  </ul>
  {{#unless plantations}}
  <a id="add" href="create-plantation">+</a>
  {{/unless}}
</div>
<script>
  var plantations = '{{plantations}}';
  console.log(plantations.toString());

  plantations.forEach((e) => {
    console.log(e.name);
  })
</script>
<script src="/public/js/status.js" type="module"></script>
